# Windows:
Thumbs.db
ehthumbs.db
Desktop.ini

# My configurations:
db.ini
deploy_key_rsa


#备份文件
backup
dustbin
test

# c#compile file:
*.exe
#ignore c# runtime file;
bin
obj

#ignore c# config file;
*.v12.suo
