# Windows:
Thumbs.db
ehthumbs.db
Desktop.ini

# Python:
*.py[cod]
*.so
*.egg
*.egg-info
dist
build
/pythonCodeNotInGit

__pycache__


# My configurations:
log.ini
deploy_key_rsa

# day5处理图片了
*/day5-import/*.jpg

#eclipse
.settings

#缓存文件
*.cache
*.cache.jpg
*.cache.png
